/* Basic Layout */
.container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding: 20px;
}

.section {
  width: 48%;
}

/* Style for the ComboBox */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

/* Style for the Candidate Images */
.candidate-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.candidate-images img {
  max-width: 150px;
  height: auto;
  margin: 0 5px;
}

/* Style for Candidate Info */
.candidate-info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #837f9c;

}
.container {
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #000000; 
  border-right: 2px solid #000000;
}


body {
  background-color: #282446;
  
}


/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .container {
        flex-direction: column;
    }

    .section {
        flex: 1 1 100%; /* Full width on mobile */
        min-width: auto;
    }

    .candidate-container {
        width: 48%; /* Adjust width for mobile */
    }

    button {
        width: 100%; /* Button takes full width */
    }
}
