body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
.container {
    background: white;
    padding: 72px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}
input, select, button {
    margin: 10px;
    padding: 12px;
    width: 80%;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
button:hover {
    background-color: #218838;
}
#gutora, #ubutumwa {
    margin-top: 20px;
}
